<style>
body {
  margin: 0;
}

div{
  width: 300px;
  height: 300px;
  margin: 20px 400px;
  padding: 30px;
  border: 3px solid #000;
  display: inline-block;
  align-content: space-between;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

</style>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Movie</title>
</head>


<body>
    {{{ body }}}

</body>
</html>
