<script type="text/javascript">

let movieList = document.createElement('ul')
fetch('/api/movies')
.then(res => res.json())
.then(data => {
  data.movies.map(movies => {
    let name = document.createTextNode(movies.name)
    let description = document.createTextNode(movies.description)
    let category = document.createTextNode(movies.category)
    let photo = document.createTextNode(movies.photo)
    let elem = document.createElement('div')
    let p = document.createElement('p')
    let br = document.createElement('br')
    elem.appendChild(name)
    elem.appendChild(description)
    elem.appendChild(category)
    elem.appendChild(photo)
    movieList.appendChild(elem)
    movieList.appendChild(br)
  })
  document.body.appendChild(movieList)
})
</script>

<nav>
  <li><a  href="/teather">Thather</a></li>
  <li><a class="active" href="/movie">Movie</a></li>
</nav>
