<script type="text/javascript">

let teatherList = document.createElement('ul')
fetch('/api/teathers')
.then(res => res.json())
.then(data => {
  data.teathers.map(teathers => {
    let name = document.createTextNode(teathers.name)
    let location = document.createTextNode(teathers.location)
    let photo = document.createTextNode(teathers.photo)
    let elem = document.createElement('div')
    let br = document.createElement('br')
    elem.appendChild(name)
    elem.appendChild(location)
    teatherList.appendChild(elem)
    teatherList.appendChild(br)
  })
  document.body.appendChild(teatherList)
})
</script>


<nav>
  <li><a class="active" href="/teather">Thather</a></li>
  <li><a  href="/movie">Movie</a></li>
</nav>
